*{margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: white; */
}
html,body{
  width: 100%;
  height: 100%;

}
.parent{
    width: 100%;
  min-height: 100vh;
    background-color: black;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
   gap: 100px;
  
    
}
.card{
     width: 330px;
     height: 320px;
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-align: center; */
}
.card .top{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-bottom: 30px;
    
}

.top img{
  width: 45px;
  height: 45px;
  border: 1px solid #dadada;
  border-radius: 50%;
  padding: 5px;
  
}
.top button{
   display: flex;
   align-items: center;
   border: 1px solid #dadada;
   padding: 3px 6px;
   border-radius: 5px;
   font-size: 15px;
   color: #b1b1b1;
   background-color:transparent;
  }

.card .center{
  margin: 20px;

}
.center h3{
  font-size: 18px;
  font-weight: 600;
     margin-top: 8px;
}
.center h3 span{
   color: #8b8b8b;
   font-weight: 400;
   font-size: 10px;
}

.center h2{
     margin-top: 8px;
     font-size: 20px;

}
.center div{
  display: flex;
  /* align-items: center; */
  gap: 10px;
 margin-top: 8px;
}
.center div h4{
   
  background-color: #dadada;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px 10px;
  font-weight: 600;
  color: #000;
}

.bottom{
    
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-top: 1.5px solid #d7d7d7ce;
padding-top: 20px;

}
.bottom p{
  color: #9e9b9b;
  font-size: 12px;
}
.bottom button{
    padding: 8px 15px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
}